body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background: url('blur.jpg');
}
.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	overflow: hidden;
	transition: 0.5s;
}
.card:hover {
	background: #fff;
	box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);

}
.card h2 {
	width: 100%;
	margin: 0;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.5s;
}
.card:hover h2 {
	background: #ff0057;
	color: #fff;
}
.card:before {
	content: '';
	position: absolute;
	bottom: -70%;
	left:-120%;
	width:100%;
	height: 100%;
	background: #7300ab;
	transition: 0.5s;
	z-index: -1;
	box-sizing: border-box;
	border-top: 5px solid #430064;
	transform: skewX(-5deg);
}
.card:hover:before {
	left:-50%;
}
.card:after {
	content: '';
	position: absolute;
	bottom: -70%;
	right:-120%;
	width:100%;
	height: 100%;
	background: #ff0;
	transition: 0.5s;
	z-index: -1;
	box-sizing: border-box;
	border-top: 5px solid #ef9b0f;
	transform: skewX(-5deg);
}
.card:hover:after {
	right:-50%;
}
.instruction {
	position: relative;
}
.resume {
	width: 100px;
	height: 50px;
	font-size: 15px;
	border-radius: 50%;
	background: #e91e63;
	color: #fff;
	line-height: 50px;
	margin: 20px auto;


}
.text {
	margin: 20px 0 0;
}
.record {
	width: 200px;
	float: left;
	padding: 10px 20px 20px;
	box-sizing: border-box;
	text-align: center;
}
.stop {
	width: 200px;
	float: left;
	padding: 10px 20px 20px;
	box-sizing: border-box;
	text-align: center;
}
.record img {
	width: 100%;
}
.stop img {
	width: 100%;
}
.pause {
	width: 200px;
	min-height: 200px;
	float: left;
	text-align: center;
}
.record button.name {
	text-align: left;
}
.card:hover .record button.name {
	color: #fff;
}
button {
  flex-grow: 1;
  height: 2.5rem;
  min-width: 2rem;
  border: none;
  border-radius: 0.15rem;
  background: #ed341d;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}
button:hover, button:focus {
  outline: none;
  background: #c72d1c;
}
button::-moz-focus-inner {
  border: 0;
}
button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
button:disabled {
  pointer-events: none;
  background: lightgray;

}
button:first-child {
  margin-left: 0;
}