body {
  background-image: linear-gradient(to right,rgba(20, 0, 255, 0.8), rgba(255, 0, 173, 0.7)), url("../img/scene.png");
  background-size: cover;
  background-position: cover;
  color: #fff !important;
}
.logo {
  height: 60px;
  margin-top: 30px;
}
.welcome-text {
  margin: 90px auto;
}
h1 {
  text-transform: uppercase !important;
  font-family: sans-serif !important;
  font-weight: bolder !important;
  font-size: 72px !important;
  letter-spacing: 4px;
}
.description {
  margin-top: 50px;
  letter-spacing: 2px;
}
.form-control {
  margin: 30px;
  border-radius: 0px !important;
  background-color: transparent !important;
  color: #fff !important;
}
.subscribe {
  background: #fff;
  color: #000;
  border: none;
  width: 120px;
  height: 30px;
  margin: 10px auto;
  display: block;
}
.subscribe:hover {
  background: #00fbff;
  transition: 0.5s;
}
.social {
  margin-top: 60px;
  float: right;
}
a .fa {
  color: #ccc;
  font-size: 30px;

}
a .fa:hover {
  color: #00fbff;
}
